src/reglalistaventa.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE listaventa>
        <!ELEMENT listaventa (venta+)>
        <!ELEMENT venta (importe, comprador, vendedor, fecha?, codigofactura)>
        <!ELEMENT importe (#PCDATA)>
        <!ELEMENT comprador (#PCDATA)>
        <!ELEMENT vendedor (#PCDATA)>
        <!ELEMENT fecha (#PCDATA)>
        <!ELEMENT codigofactura (#PCDATA)>